Source: steam-login
Section: x11
Priority: optional
Maintainer: Ali Naqi Hassan Rizvi <alinaqihassan@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://github.com/alinaqihassan/steam-session
Vcs-Git: https://github.com/alinaqihassan/steam-session.git
Vcs-Browser: https://github.com/alinaqihassan/steam-session

Package: steam-session
Architecture: all
Depends:
 ${misc:Depends},
 steam | steam-launcher,
 wmctrl,
 x11-xserver-utils,
 xfwm4,
 xinput,
 zenity,
 ratpoison
Suggests:
 nvidia-settings
Provides: steam-session
Replaces: steam-session, steam-login
Description: Creates a X session to start Steam Big Picture from the Login screen, similar to SteamOS.
